# Frontgate
/frontgate/node_modules/*
/frontgate/core/src/core/proto/*

# Backend
/backend/.venv/*
/backend/khaleesi/proto/*

# Development
/.idea/*
*.iml
/temp/*
/data/current_service

# Operations
/letsencrypt/*
