#khaleesi-navigation {
  /* Grid. */
  grid-area: navigation;
  /* Colors. */
  background-color: var(--theme-dark-color);
}

#khaleesi-navigation a {
  /* Colors. */
  color: var(--background-light-color);
  /* Size & Positioning. */
  display    : inline-flex;
  align-items: center;
  gap        : var(--spacing);
}

#khaleesi-navigation a:hover {
  /* Colors. */
  color: var(--theme-light-color);
}

.khaleesi-navigation-icon .icon {
  /* Size & Positioning. */
  height : var(--outer-size);
  width  : var(--outer-size);
  padding: var(--spacing);
}

#khaleesi-navigation-button {
  /* Colors. */
  color                  : var(--theme-light-color);
  background-color       : var(--theme-dark-color);
  border-top-left-radius : calc(2 * var(--spacing));
  border-top-right-radius: calc(2 * var(--spacing));
  /* Details marker. */
  list-style: none;
  /* Size & Positioning. */
  position  : relative;
  box-sizing: border-box;
  height    : var(--outer-size);
  z-index   : 1;
}

#khaleesi-navigation-list {
  /* Size & Positioning */
  width     : calc(4 * var(--outer-size));
  height    : calc(100vh - var(--outer-size));
  position  : fixed;
  top       : var(--outer-size);
  padding   : var(--spacing);
  box-sizing: border-box;
  /* Colors. */
  background-color          : var(--theme-dark-color);
  border-top-right-radius   : calc(2 * var(--spacing));
  border-bottom-right-radius: calc(2 * var(--spacing));
}

#khaleesi-navigation-list summary {
  /* Size & Positioning. */
  width: 100%;
  /* Details Marker. */
  list-style: none;
  /* Flex. */
  display        : flex;
  justify-content: space-between;
}

#khaleesi-navigation-list summary::after {
  /* Details Marker. */
  content: " ►";
}

#khaleesi-navigation-list details[open] > summary::after {
  /* Details Marker. */
  content: " ▼";
}

.khaleesi-navigation-item {
  /* Size & Positioning. */
  box-sizing    : border-box;
  padding-bottom: var(--spacing);
}

.khaleesi-navigation-item-child {
  /* Size & Positioning. */
  box-sizing    : border-box;
  padding-left  : calc(2 * var(--spacing));
}

#khaleesi-navigation-list a.active {
  /* Colors. */
  color: var(--theme-light-color);
}

#khaleesi-navigation-breadcrumbs {
  /* Grid. */
  grid-area: breadcrumbs;
}

#khaleesi-navigation-breadcrumbs span {
  /* Size & Positioning. */
  display       : inline-flex;
  gap           : var(--spacing);
  padding-left  : var(--spacing);
  line-height   : var(--outer-size);
}

#khaleesi-navigation-breadcrumbs a {
  /* Size & Positioning. */
  display     : inline-flex;
  align-items : center;
  gap         : var(--spacing);
}

#khaleesi-navigation-background {
  /* Size & Positioning. */
  position: fixed;
  height  : 100vh;
  width   : 100vw;
  top     : 0;
  /* Colors. */
  background-color: var(--background-dark-color);
  opacity         : 0.5;
}
