:root {
  /* Theme. */
  --background-dark-color  : #282828;
  --background-medium-color: #2F2F2F;
  --background-light-color : #D0D0D0;
  --theme-dark-color       : #341F3F;
  --theme-light-color      : #D07FFF;
  --bad-color              : #FF2F00;
  --average-color          : #FFD000;
  --good-color             : #00FF2F;
  --spacing   : 8px;
  --outer-size: 72px;
  --inner-size: calc(var(--outer-size) - 2 * var(--spacing));
  --font-size-text   : 16px;
  --font-size-heading: 24px;
}

html {
  /* Size & Positioning. */
  height: 100%;
  width : 100%;
  box-sizing: border-box;
}

body {
  /* Colors. */
  color           : var(--background-light-color);
  background-color: var(--background-medium-color);

  /* Text. */
  font-family: Roboto, sans-serif;

  /* Size & Positioning. */
  height: 100%;
  width : 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color          : var(--theme-light-color);
  text-decoration: none;
}

a:hover {
  color          : var(--theme-light-color);
  text-decoration: underline;
}

details > summary {
  cursor: pointer;
}

.icon {
  /* Size & Positioning. */
  height: var(--font-size-text);
  width : var(--font-size-text);
}

h1 {
  margin: 0;
  padding-bottom: var(--spacing);
}

select,
button {
  /* Border */
  border: none;
  border-radius: var(--spacing);
  padding: 0;
}

#khaleesi-app {
  /* Grid. */
  display              : grid;
  grid-template-columns: var(--outer-size) auto;
  grid-template-rows   : var(--outer-size) var(--outer-size) auto;
  grid-template-areas  :
    "navigation title"
    "empty      breadcrumbs"
    "empty      content";

  /* Size & Positioning. */
  height: 100%;
  width : 100%;
}

.khaleesi-bar {
  /* Colors. */
  background-color: var(--theme-dark-color);
}

#khaleesi-title {
  /* Grid. */
  grid-area: title;

  /* Size & Positioning */
  line-height  : var(--outer-size);
  padding-left : var(--spacing);
  padding-right: var(--spacing);

  /* Text */
  text-overflow: ellipsis;
  font-size    : var(--font-size-heading);
}

#khaleesi-content {
  /* Grid. */
  grid-area: content;

  /* Size & Positioning */
  padding: var(--spacing);
}
